<%= form_with(model: workout, local: true) do |form| %>
  <% if workout.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(workout.errors.count, "error") %> prohibited this workout from being saved:</h2>

      <ul>
        <% workout.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ScheduledDateInteger %>
    <%= form.number_field :ScheduledDateInteger %>
  </div>

  <div class="field">
    <%= form.label :Type %>
    <%= form.text_field :Type %>
  </div>

  <div class="field">
    <%= form.label :WhiteBoardDisplayOrder %>
    <%= form.number_field :WhiteBoardDisplayOrder %>
  </div>

  <div class="field">
    <%= form.label :Title %>
    <%= form.text_field :Title %>
  </div>

  <div class="field">
    <%= form.label :Description %>
    <%= form.text_area :Description %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
